body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 90vh;
	box-sizing: border-box;
}
h2 {
	text-align: center;
}
form {
	background: #fff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	width: 800px;
	max-width: 100%;
	margin: 20px 0;
	box-sizing: border-box;
}
div {
	margin-bottom: 15px;
}
label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}
input[type="text"],
input[type="file"],
select,
textarea {
	width: calc(100% - 16px); 
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
textarea {
	height: 80px;
	resize: none;
}
input[type="submit"] {
	background: #007bff;
	color: #fff;
	padding: 10px 15px;
	border-radius: 17px;
	cursor: pointer;
	width: 40%;
	box-sizing: border-box;
	text-align: center;
	border-style: none;
	margin: 0 auto;
}
input[type="submit"]:hover {
	background: #0056b3;
}
.row {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.row img {
	margin-right: 10px;
	border-radius: 4px;
}